<ion-content [fullscreen]="true">
  <div class="bubble">
    <h2>Credits!</h2>
    <p>Code: Amber Chong</p>
    <p class="finePrint">stackoverflow coming in clutch</p>
    <hr class="solid">
    <p>Background art: <a href="https://www.deviantart.com/forheksed">Forheksed</a></p>
    <p>UI pixel art: <a href="https://crusenho.itch.io/complete-ui-essential-pack">Creusenho</a></p>
    <img src="../../assets/spinningcat.gif" class="cat">
    <a href="tabs/home">
      <img src="../../assets/backArrow.png" class="arrow">
    </a>
  </div>
</ion-content>