* {
    image-rendering: pixelated;
}

p {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 14px;
}

.finePrint {
    font-size: 7px;
}

h2 {
    margin-bottom: 20px;
}

img.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    scale: 150%;
}

img.cat {
    scale: 70%;    display: block;
    margin-left: auto;
    margin-right: auto;
}