<ion-header>
  <ion-toolbar>
    <ion-title>Add new plant</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/placeholderSquare.png" />
  <ion-item>
    <ion-input
      name="name"
      [(ngModel)]="plantName"
      placeholder="Plant Name"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      name="season"
      [(ngModel)]="plantSeason"
      placeholder="Plant's Ideal Growing Season"
    ></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="closeModal()">Save</ion-button>
</ion-content>

<!--
  <ion-item>
    <ion-label position="floating">Scientific name</ion-label>
    <ion-input name="name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-item>
    <ion-label position="floating">Type</ion-label>
    <ion-input name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-input name="name"></ion-input>
  </ion-item>-->
