<ion-content>
  <img src="../../assets/bigOne.png" class="bgImage">
  <div class="bigOne">
    <div class="header">
      <ion-item>
        <h2>New plant</h2>
        <img src="../../assets/x.png" (click)="closeModal()" class="closeButton" />
      </ion-item>
    </div>
      <img [src]="plantImage" class="imageE">
    <ion-list lines='none'>
      <div class="inputFields">
        <div class="plantName1">
          <ion-item>
            <ion-input name="name" [(ngModel)]="plantName" placeholder="Plant Name"></ion-input>
          </ion-item>
        </div>
      </div>
      <input #fileInput type="file" accept="image/*" (change)="imageSelected(fileInput.files)">
      <ion-item class="season">
        <ion-input name="season" [(ngModel)]="plantSeason" placeholder="Ideal Growing Season"></ion-input>
      </ion-item>
      <ion-item class="science">
        <ion-input name="science" [(ngModel)]="scientificName" placeholder="Scientific Name"></ion-input>
      </ion-item>
      <ion-item class="type">
        <ion-input name="type" [(ngModel)]="plantType" placeholder="Plant Type"></ion-input>
      </ion-item>
      <div class="notes">
        <ion-item>
          <ion-textarea name="notes" [(ngModel)]="plantNotes" placeholder="        Notes" [autoGrow]="true"
            maxlength="100"></ion-textarea>
        </ion-item>
      </div>
      <ion-item class="x">
        <ion-input name="x" [(ngModel)]="x" type="number" placeholder="X Coordinate (0-100%)"></ion-input>
      </ion-item>
      <ion-item class="y">
        <ion-input name="y" [(ngModel)]="y" type="number" placeholder="Y Coordinate (0-100%)"></ion-input>
      </ion-item>
      <div class="buttons">
        <img src="../../assets/bigButton.png" (click)="deletePlant()" class="deleteButton">
        <p class="delText">Delete</p>
        <img src="../../assets/bigButton.png" (click)="saveModal()" class="saveButton">
        <p class="saveText">Save</p>
      </div>
    </ion-list>
  </div>
</ion-content>