* {
  color: #3d2200;
  image-rendering: pixelated;
}
ion-item {
  --background: none;
}
ion-list {
  background-color: rgba(0, 0, 0, 0);
  margin-top: -125px;
  
}

ion-label {
  text-align: center;
  padding-left: 50px;
}

ion-input {
  text-align: center;
}

ion-textarea {
  width: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  padding-top: 15px;
  position: relative;
}

.deleteButton {
  margin-left: 75px;
}

.delText {
  position: absolute;
  top: 35%;
  left: 32.5%;
  transform: translate(-50%, -50%);
}

.saveText {
  position: absolute;
  top: 35%;
  left: 67.5%;
  transform: translate(-50%, -50%);
}

.saveButton {
  margin-left: 35px;
}

.closeButton {
  scale: 80%;
  margin-bottom: 2px;
}

.header {
  padding-right: 20px;
  margin-right: 20px;
  padding-top: -10px;
}

.inputFields {
  scale: 90%;
}

.bigOne {
  z-index: 1;
  margin-top: 61px;
}

.plantName1 {
  margin-top: 120px;
}

.literallyEverythingElse {
  margin-top: 10px;
}

.season {
  margin-top: -10px;
}

.science {
  margin-top: -8px;
}

.type {
  margin-top: -10px;
}

.notes {
  margin-top: -15px;
}

.x {
  margin-top: 93px;
}

.y {
  margin-top: -5px;
}

.bgImage {
  z-index: -1;
  scale: 325%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h2 {
  margin-left: auto;
  margin-top: 6px;
  margin-right: 20px;
  font-size: 18px;
}

input {
  scale: 50%;
  margin-left: 20px;
  margin-top: -10px;
}

.imageE {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 136px;
  height: 136px;
  margin-top: -18px;
}
