<ion-content>
  <ion-item>
    <ion-icon name="close" (click)="closeModal()" slot="end"></ion-icon>
    <ion-label>New plant</ion-label>
  </ion-item>

  <img src="../assets/placeholderSquare.png" class="placeholderImg" />
  <ion-item>
    <ion-input
      name="name"
      [(ngModel)]="plantName"
      placeholder="Plant Name"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      name="season"
      [(ngModel)]="plantSeason"
      placeholder="Ideal Growing Season"
    ></ion-input>
  </ion-item>
  <div class="saveButton">
    <img src="../../assets/save.png" (click)="closeModal()" />
  </div>
</ion-content>

<!--
  <ion-item>
    <ion-label position="floating">Scientific name</ion-label>
    <ion-input name="name"></ion-input>
  </ion-item>
  <ion-item>
  <ion-item>
    <ion-label position="floating">Type</ion-label>
    <ion-input name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Notes</ion-label>
    <ion-input name="name"></ion-input>
  </ion-item>-->
