* {
  --ion-background-color: #e5d9c3;
  image-rendering: pixelated;
}

img {
  width: 100%;
  padding: 10px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

.map-container {
  position: relative;
}

.map-image {
  width: 100%;
  height: auto;
}

.map-pin {
  position: absolute;
  transform: translate(-50%, -100%);
  cursor: pointer;
}

.map-pin ion-icon {
  font-size: 24px;
}

.pin-popup {
  display: none;
  position: absolute;
  top: -40px;
  left: -10px;
  background: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.map-pin:hover .pin-popup {
  display: block;
}

