<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">map</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="../assets/placeholderMap.PNG">
</ion-content>
<!--when clicking on map it pulls up image: https://stackoverflow.com/questions/74929048/display-image-by-click-somewhere-in-page
also pulls notes from database and shows it beside
-->