* {
  --ion-background-color: #e5d9c3;
  image-rendering: pixelated;
}

.map-image {
  width: 100%;
  padding: 10px;
  height: auto;
  z-index: 0;
  margin-top: 20px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

.map-container {
  position: relative;
}

.map-pin {
  position: absolute;
  transform: translate(-50%, -100%);
  cursor: pointer;
  scale: 175%;
  z-index: 0;
}

.map-pin ion-icon {
  font-size: 24px;
}

.pin-popup {
  display: none;
  position: absolute;
  top: -40px;
  left: -10px;
  background-color: rgba(247, 252, 220, 0.8);
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
  font-size: 10px;
}

.map-pin:hover .pin-popup {
  display: block;
}

.popup {
  padding-top: 100px;
  width: 50px;
  height: 10px;
  font-size: 10px;
}

canvas {
  --background: none;
  width: 350px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1;
}

.graphBg {
  position: absolute;
  margin: 15px;
  margin-top: -3px;
  width: 375px;
  z-index: 0;
}

button {
  background: none;
  position: absolute;
  z-index: 1;
  margin-top: -60px;
  padding-left: 140px;
  font-size: 20px;
}