* {
  image-rendering: pixelated;
}

ion-content {
  --background: none;
  background: url('../../assets/forheksedd.jpg') no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

ion-item {
  --background: none;
  --color: #8c7c5c;
  background-image: url("../../assets/button (3).png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
  scale: 85%;
}

ion-button {
  padding: 20px;
  font-family: 'customTitle';
}

ion-input {
  --padding-top: 20px;
  --padding-start: 10px;
}