* {
  --ion-background-color: #3d2200;
}

img {
    display:block;
    margin: 0 auto;
    margin-top: 50px;
}

ion-item {
  --background: none;
  --color: #8c7c5c;
  background-image: url("../../assets/button (3).png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
}

ion-button {
  padding: 20px;
}

ion-input {
    --padding-top: 20px;
    --padding-start: 10px;
}