// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@font-face {
    font-family: 'customTitle';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Daydream/Daydream.ttf');
}

@font-face {
    font-family: 'customText';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Scrambled_Eggs_Bold.ttf');
}

:root {
    --ion-font-family: 'customTitle';
    --ion-font-family: 'customText';
}