ion-content {
  --background: none;
  background: url('../../assets/forheksedd.jpg') no-repeat;
  background-size: cover;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.buttons {
  display: block;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 70%;
}

.register {
  margin-top: 20px;
}

.git {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

p {
  font-size: 8px;
  text-align: center;
  padding-top: 290px;
  color: #8C7C5C;
}