<ion-content [fullscreen]="true">
  <h1>Database</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card (click)="addPlant()">
          <img src="../assets/add.png" class="addButton"/>
        </ion-card>
      </ion-col>
      <ng-container *ngFor="let plant of plants; let i = index">
        <ion-col size="6">
          <ion-card (click)="openPlantModal(i)">
            <img [src]="plant.plantImage || '../assets/placeholderSquare.png'">
            <ion-card-content>{{ plant.plantName }}</ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
