* {
  --ion-background-color: #e5d9c3;
  image-rendering: pixelated;
}

img {
  width: 95px;
  height: 93px;
  margin-left: 40px;
  margin-top: 15px;
}

ion-card-content {
  text-align: center;
  padding-top: 2px;
}

ion-card {
  margin-bottom: 0;
  background: url('../../assets/databaseImage.png') no-repeat;
  background-size: contain;
  width: 175px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  margin-top: 30px;
}
.text {
  z-index: 1;
  margin-top: -8px;
}

.addButton {
  z-index: 0;
  width: 107px;
  height: 107px;
  margin-left: 34px;
  margin-top: 9px;
}
