<ion-content [fullscreen]="true">
  <h1>Calendar</h1>
  <ion-item>
    <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <div class="saveButton">
    <img src="../../assets/reminder.png" (click)="addReminder()" />
  </div>

  <ion-list>
    <!--loop for reminders-->
    <ion-item *ngFor="let reminder of reminders">
      <!--formatting-->
      <ion-label>{{ reminder.text }}</ion-label>
      <ion-label>{{ reminder.datetime | date:'YYYY-MM-DD | hh:mm' }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
