<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="addReminder()">Add Reminder</ion-button>

  <ion-list>
    <ion-item *ngFor="let reminder of reminders">   <!--loop for reminders-->
      <ion-label>{{ reminder.text }}</ion-label>
      <ion-label>{{ reminder.datetime | date:'YYYY-MM-DD | hh:mm' }}</ion-label>   <!--formatting-->
    </ion-item>
  </ion-list>
</ion-content>
