<ion-content [fullscreen]="true">
  <h2>Your garden</h2>
  <hr />
  <!--{{ username }}-->
  <div class="database">
    <a href="/tabs/database">
      <img src="../assets/database.png" />
      <!-- for modal(click)="databaseClick()"-->
      <!--<ion-text>Database</ion-text>>-->
    </a>
  </div>
  <div class="plantsList">
    <hr />
    <div class="plantsText">
      <h4>plants list</h4>
      <p><br />- Strawberries<br />- Lavender<br />-</p>
    </div>
    <hr />
  </div>
  <div class="reminders">
    <a href="/tabs/calendar">
      <img src="../assets/reminders.png" />
    </a>
  </div>
</ion-content>
