* {
  image-rendering: pixelated;
}

h1 {
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}

img {
  width: 100%;
  padding: 10px;
}

hr {
  border-top: 3px solid #3d2200;
  margin: 10px;
}

p {
  font-size: 12px;
  padding-left: 10px;
}

.plantsList {
  padding: 20px;
}

ion-card {
  --background: url('../../assets/blank.png') no-repeat;
  background-size: cover;
}

li {
  padding: 5px;
  margin-top: 10px;
}

ion-card-content {
  padding: 0px;
  padding-bottom: 70px;
}

ul {
  margin: 0px;
  margin-left: 45px;
  padding-left: 25px;
}

ion-card-title {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}