* {
  image-rendering: pixelated;
}

ion-content {
  --background: none;
  background: url('../../assets/forheksedd.jpg') no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

ion-item {
  --background: none;
  --color: #8c7c5c;
  background-image: url("../../assets/button (3).png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 25px;
  text-align: center;
  scale: 85%;
  margin-top: -20px;
}

ion-input {
  --padding-top: 15px;
  --padding-start: 10px;
}

ion-checkbox {
  --checkbox-background-checked: #8c7c5c;
  padding: 10px;
  padding-top: 20px;
  padding-left: 50px;
  font-size: 11px;
  color: #3d2200;
  word-wrap: break-word;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #3d2200;
}

.bubble {
  margin-top: 100px;
}

ion-button {
  font-family: 'customTitle';
}

input[type='file'] {
  opacity:0    
}